

*{
    margin: 0;
    padding: 0;
}

.lista_links{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px 20px;
    justify-items: center;
    background-color: white;
    
}

.link_prioridade1 {
    margin-top: 15px;
    padding: 5px;
    border-bottom: 1px #c7b0c7 solid;
    list-style: none;
    margin-bottom: 25px;
    align-items: center;
    color: black;
    text-decoration: none;
}

.link_prioridade1:hover {
    background-color: blueviolet;
    color: white;
    border-radius: 50%;
}

.conteudo_principal {
    display: grid;
    background-color: white;
    border-top: 2px dashed #c7b0c7;
    grid-template-columns: 1fr 1fr;
    justify-items: center;
    align-items: center;
    
}

.ibagem {
    width: 50vw;
    height: 42vw;
}

.ibagem_formacao {
    width: 50vw;
    height: 42vw;
}

.texto_principal {
    display: grid;
    width: 48vw;
    height: 36vw;
    align-items: center;
}

.titulo_principal {
    font-family: "Mali", sans-serif;
    font-size: 12vh;
    font-weight: 800;
    padding: 12px;
}
.inicio_texto {
    color: black;
    font-size: 24px;
    font-weight: 300;
    font-family: "Mulish", sans-serif;
}

.titulo_formacao {
    font-size: 4vw;
}

.texto_formacao {
    font-family: "Mulish", sans-serif;
    list-style: none;
    padding-top: 3vw;
    font-size: 18px;
    text-align: start;
}

.titulo_formacao:hover,.titulo_principal:hover {
    color: purple;
    font-weight: bolder;
}